<p>ingresar-usuarios works!</p>
<!-- verificar el bien como funciona ngmodel-->
<label>
    <div class="col-12">
        <div class=" col-md-6">          
            <input type="text" [(ngModel)]="nombre"  placeholder="ingrese un su Nombre">    
            <input type="text" [(ngModel)]="apellido" placeholder="ingrese un su Apellido">
            <input type="number" [(ngModel)]="edad" placeholder="ingrese un su edad">
        </div>
    </div>  
    <div>   
        <input class="form-check-input" type="checkbox"[(ngModel)]="activo">
    </div>
        <button type="submit" class="btn btn-primary" (click)="enviar('usuarios')">Enviar</button>
</label> {{nombre}} {{apellido}} {{edad}} {{activo}}
<!-- [(ngModel)]="nombre" -->