<main class="container-fluid px-1" role="main" style="background-color: rgba(255, 6, 6, 0.534);">

    <section class="row col-12">
        <article class="col-6 border border-2">
            <app-saludar></app-saludar>
        </article>
        <article class="col-6 border border-2">
            <h2> id="parPrincipal-'idParrafo'" / [id]="idParrafo"</h2>
            <p id="parPrincipal-{{idParrafo}}">parrafo para modificar atributo</p>
            <p [id]="idParrafo">otro parrafo</p>
        </article>
        <article class="col-6 border border-2">
            <h2>input: [type]="idInput" -> text / chexbox / number</h2>
            <input [type]="idInput" [value]="nombre">
        </article>
        <article class="col-6 border border-2">
            <label for="id-idInput"><i class="bi bi-bootstrap-fill me-3" style="font-size: 4em; color: var(--bs-primary);"></i></label>
            <input type="submit" value="Bootstrap" id="id-idInput" class="btn btn-outline-primary">
        </article>
        <article class="col-6 border border-2">
            <h2>Eventos</h2>
            <app-eventos></app-eventos>
        </article>
        <article class="col-6 border border-2">
            <h2>calculadora</h2>
            <app-suma></app-suma>
            <h2 class="mt-5">Conometro</h2>
            <app-cronometro></app-cronometro>
        </article>
        <article class="col-6 border border-2">
            <app-calculadora></app-calculadora>
        </article>

        <article class="col-6 border border-2">
            <ul>
                <li *ngFor="let n of obj; let i= index ">{{i}}: {{n.id}} | {{n.name}} | {{n.age}} | {{n.sexo}}</li>
            </ul>
            <app-alerta nombre='Dionicio' edad=45 surname='Aguilar'></app-alerta>
            <app-alerta></app-alerta>
            <app-alerta surname='Aguilar' edad=20></app-alerta>
            <h2>>------------ > @Output >------------</h2>
            <app-alerta [myPeli]='obj' (alertaPulsada)='onAlertaRecibido($event)'></app-alerta>
            <p>mi mensaje recibido: {{output}}</p>
        </article>

        <article class="col-6 border border-2">
            <h2>comunicacion entre Padre e Hijos</h2>
            <app-formulario></app-formulario>
        </article>

        <article class="col-6 bg-light ">
            <h2 class="col-12">Comunicacion entre hermanos</h2>
            <app-form class="col-12 " (prod_Creada)="onProdCreada($event)"></app-form>
            <app-lista class="col-12 " [arrayProd_Hijo]='ArrayProd_Padre'></app-lista>
        </article>
        <article class="col-6 border border-2">
            <h2>siclo de vida</h2>
            <app-ciclo-vida [texto]="siclo_vida"></app-ciclo-vida>
            <h2>directivas</h2>
            <app-directivas></app-directivas>
        </article>
        <article class="col-6 border border-2">
            <app-hijo1></app-hijo1>
        </article>
        <article class="col-12 border border-2">
            <h2>caja registradora</h2>
            <app-caja-registradora></app-caja-registradora>
        </article>
        <article class="col-12 border border-2">
            <h2>Directivas personalizadas / HostListener</h2>
            <p appDirectiva>mis directivas. 123456789</p>
            <p appDirectiva [config]="{colorHover:'blue', colorNoHover: 'red' }">mis directivas. 123456789</p>
        </article>
        <article class="col-12 border border-2">
            <h2>mis compras...</h2>
            <app-MyCompras-list></app-MyCompras-list>
        </article>
        <article class="col-12 border border-2"></article>
        <article class="col-12 border border-2"></article>
        <article class="col-12 border border-2"></article>
        <article class="col-12 border border-2"></article>
        <article class="col-12 border border-2"></article>
        <article class="col-12 border border-2"></article>
        <article class="col-12 border border-2"></article>

    </section>
</main>