.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}

.colorBlue {
    color: blue;
}

.colorCeleste {
    color: rgb(0, 187, 255);
}

.colorBlanco {
    color: white;
    background: #000;
}