<h2 class="myColor"> {{saludar}}</h2>
<h3 class="myColor2">{{despedir}}</h3>

<div class="container-fluid">
    <div class="row">
        <div class=" col" *ngFor="let item of items">

            <div class="card" style="width: 15rem;">
                <img [src]="item.img" class="card-img-top" alt='img'>

                <div class="card-body">
                    <h5 class="card-title text-center">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted float-right">{{item.price | currency}}</h6>
                    <p class="card-text">{{item.text}}</p>
                    <p class="card-body" [ngClass]="{'completado':item.completed }">cantidad: {{item.quantity}} <a href="#" class="card-link"> link</a> </p>

                    <app-total msn="total a pagar: " [total]="total"> </app-total>
                    <input type="checkbox" [checked]="item.completed">
                    <!-- envio un atributo al otro componente -->
                    <app-items [item]="item"></app-items>

                    <button class="btn btn-danger" (click)="onDelete(item)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngFor="let item of items">
        {{item.title}}
    </div> -->

</div>