<header class="container-fluid">
    <nav class="row navbar-dark bg-dark" style="background-color: #01070c;">
        <ul class="nav nav-pills d-flex justify-content-md-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" (click)='irPagina("perfil")'>Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn-outline-danger" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ApiRest ..</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item btn-outline-danger" (click)='irPagina("formEmpleado")'>Formulario Empleado</a></li>
                    <li><a class="dropdown-item btn-outline-danger" (click)='irPagina("listEmpleado")'>Lista Empleado</a></li>
                    <li><a class="dropdown-item btn-outline-danger" (click)='irPagina("banderas")'>Banderas</a></li>
                    <li><a class="dropdown-item btn-outline-danger" (click)='irPagina("personajes")'>Personajes</a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item btn-outline-primary" href="#">lista 4</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-outline-primary" (click)='irPagina("productos")'>Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" aria-disabled="true" (click)='irPagina("registro")' style="cursor: pointer;">Formulario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Pagos</a>
            </li>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </ul>

    </nav>
</header>