<label>
    <input class="form-control form-control-sm d-inline" type="text" [(ngModel)]="pers.name" placeholder="nombre">
    <input class="form-control form-control-sm " type="text" [(ngModel)]="pers.surname" placeholder="apellido">
    <input class="form-control form-control-sm " type="number" [(ngModel)]="pers.age" placeholder="edad">
</label>
<p class="text-light fs-5 fw-bold">mi nombre es: {{pers.name}} {{pers.surname}} y tengo {{pers.age}} años</p>
<label> 
    <button class="btn btn-primary" (click)="cambiar($event)">cambiar</button> 
</label>

<!-- <input type="text" [(ngModel)]="texto"> -->
<!-- <p>{{texto}}</p> -->
<!-- <div>
    <input type="text" [(ngModel)]="pers.nombre">
    <input type="text" [(ngModel)]='pers.apellido'>
    <input type="text" [(ngModel)]='pers.edad'>
</div>
<p>me llama: {{pers.nombre}} {{pers.apellido}} y tengo {{pers.edad}} años</p> -->

<!-- <form [formGroup]="form">
    <input type="text" formControlName="nombre" placeholder="Tu nombre" class="form-control">
</form> -->