<header>
    <div class="row">
        <div class="col-12 ">
            <div class="list-group" id="list-tab" role="tablist" class="d-flex justify-content-between text-center">
                <a class="list-group-item list-group-item-action" [routerLink]='["/home"]' routerLinkActive='activa'>Hogar</a>
                <a class="list-group-item list-group-item-action" [routerLink]='["/mensaje"]' routerLinkActive='activa'>mensaje</a>
                <a class="list-group-item list-group-item-action" [routerLink]='["/perfil"]' routerLinkActive='activa'>prefil</a>
            </div>
        </div>
        <div class="col-4 d-flex flex-column mt-2">
            <button class="btn btn-outline-primary" (click)='onclick("home")'>inicio</button>
            <button class="btn btn-outline-primary" (click)='onclick("mensaje")'>mensaje</button>
            <button class="btn btn-outline-primary" (click)='onclick("perfil")'>perfil</button>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</header>