<h2 class="text-center fs-3 fw-bold ">Logros</h2>
<section class=" container d-flex justify-content-center align-items-center flex-wrap ">
    <article class="card col-5  mx-2 my-2" *ngFor="let items of arryMusicas">
        <img [src]="items.img" class="card-img-top" alt="..." style="width: 100%; max-height: 120px;">
        <div class="card-header text-center d-flex">
            <small class="text-muted">{{items.id}}</small>
            <h5 class="ms-auto">{{items.titulo}} </h5>
        </div>
        <div class="card-footer text-muted d-flex">
            <small class="d-inline-block me-auto">{{fecha}} </small>
        </div>
    </article>
</section>

<!-- {{arryMusicas[1].añoPublicado| json}} -->