<div class="col-12">
    <h3 class="text-center text-secondary">My Experiencia.. </h3>
    <div class="col-12">
        <img src="../../../../assets/img/experianci.jpg" alt="img" style="width: 100%;">
        <p>A nivel básico, la disposición de la experiencia laboral suele incluir: Título del puesto, nombre de la empresa, lugar de trabajo. Mes y año en que comenzaste y dejaste el puesto. Entre tres y seis puntos que describan brevemente tu impacto en
            la empresa.</p>
    </div>
</div>