<section class="col-12 mt-3 bg-info p-1 text-center">
    <input type="number" value="">
    <input type="number" value="">
    <article class="col mt-3">
        <button (click)="sumar()" type="submit" class="btn btn-primary fw-bold fs-5 col me-1">Sumar</button>
        <button (click)="resta()" type="submit" class="btn btn-primary fw-bold fs-5 col me-1">Restar</button>
        <button (click)="multiplicacion()" type="submit" class="btn btn-primary fw-bold fs-5 col me-1">Multiplicar</button>
        <button (click)="divicion()" type="submit" class="btn btn-primary fw-bold fs-5 col me-1">Dividir</button>
    </article>
    <p>Resultado: {{resultado}} </p>
</section>