.semaforo {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 1px solid black;
}


/*
 .verde {
    background: rgb(38, 255, 38);
}

.amarillo {
    background: yellow;
}

.rojo {
    background: red;
} */