main {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../assets/img/img.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-origin: border-box;
    background-attachment: unset;
}