<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#id" data-bs-whatever="@getbootstrap">
    Comprar {{item.id}} - {{item.price}} x {{item.quantity}}={{(item.price * item.quantity)}}
</button>


<div class="modal fade" id="id" tabindex="-1" aria-labelledby="exampleModalLabe6" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabe6">My compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Seguro que va comprar??
                <br>
                <strong>total de la compra: {{item.price}} x {{item.quantity}}={{(item.price * item.quantity)}}</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Comprar</button>
            </div>

            <input type="checkbox" [checked]="item.completed">
        </div>
    </div>
</div>