.border2 {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px blue;
}

img {
    width: 80%;
    cursor: pointer;
}

.st1 {
    background-color: aqua;
    color: blue;
}

.st2 {
    background-color: rgb(51, 255, 0);
    color: rgb(255, 255, 255);
}